@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    background-color: #1f1d1d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    

}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    color: white;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #6c6c6c8c;
}

.container .heading h3 span {
    font-weight: 1
    
    
    
    ;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.container .box .columns {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    flex-wrap: wrap;

}
.container .box .columns img{
    margin-bottom: 18px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.236);
    transition:1s;
    
    
}

.container .box .columns img:hover{
    filter: grayscale(100%);
    transition:scale(1.1);
    
    
}
.container .btn {
    margin: 40px 0 70px 0;
    background: #f16464;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn a {
   color: white;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   
}

@media only screen and (max-device-width: 400px) {

    .container .box {
        flex-direction: column;
    }

    .container .box .columns {
        
        
        width: 100%;
    
    }
   

}

@media only screen and (max-device-width: 643px) {
    .container .heading {
        width: 100%;
        
    }

    .container .heading h3 {
        font-size: 3em;
        
}
}
