@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/*pre-loader*/
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #ffffff url('https://cdn.statically.io/gh/sanju2728/assets/main/illustrations/loader.gif') no-repeat center;
	z-index: 999;
}

/* main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    color: #ffffffa6;
}

body {
  overflow-x: hidden;
  
  background: #fff;
  min-height: 100vh;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}  

.top {
    background-size:cover;
    scroll-behavior: smooth;
    background-image: url("https://cdn.statically.io/gh/sanju2728/assets/main/illustrations/bg1.webp");
    height: 100vh;
}



.logopart {
    display:flex;
    justify-content: space-between;
    align-items: center;
}   

.logoname {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}
    

img {
    width:50px;
    height:50px;
}



header {
    
    background-color: hsla(0, 0%, 2%, 0.911);
    color:rgba(90, 84, 84, 0.352);
    animation: 0.5s alternate fadein;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header a {
    text-decoration: none;
}

.navbar {
  height: 100px;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
}


.navbar-links ul {
  margin: 0;
  padding : 0;
  display: flex;

}

.navbar-links li {
  list-style: none;

}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding : 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: rgba(211, 211, 211, 0.304);
}

.toggle {
  position: absolute;
  top: .75rem;
  right: 1rem; 
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}




.first-quote {
    display: flex;
    align-items:start;
    justify-content: start;
    padding: 70px;  
    margin-left: 0px;
    font-size: 40px;
    color: #ffffffa6;
    animation: 1s alternate fadein;
    margin-top: 100px;
}

.bottom {
    
    display:flex;
    justify-content: space-around;
    height: 100vh;
}

#everything {
  background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(0,0,0,0.8324579831932774) 100%);
}
.quote {
    font-size: 50px;
    margin: 40px;
}
.blah {
    width: 600px;
    height: 600px;
    
}



/* button */
.bn47 {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: #000000;
  border: 3px solid #776e62;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
  text-decoration: none;
}

.bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bn47:hover {
  padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}

.icon-group {
  background-color: rgba(5, 1, 1, 0.374);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.fa-stack-2x {
  width: 50px;
  height: 50px;
  transform: scale(1, 0.9);
  /* add the following line to center the icon within the circle */
  margin: auto;
}




.fa-stack-1x {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
   /* set the background color of the Twitter icon to blue */
  border-radius: 50%; /* set the border-radius to 50% to make the background circular */
  
  transition: color 0.5s ease; 
  
}

.fa-stack-1x:hover {
  color: rgba(157,51,97,1);
}

.icon-group .fa-stack:nth-child(2) .fa-stack-1x:hover {
  color: #0A66C2;
}

.icon-group .fa-stack:nth-child(3) .fa-stack-1x:hover {
  color: #66378b;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .link .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 15px;
}

.tooltip:hover .link .tooltiptext {
  visibility: visible;
}


@media screen and (max-width: 768px) {
  .top{
    background-image: url("https://cdn.statically.io/gh/sanju2728/assets/main/illustrations/bgphone.webp");
  }
   .toggle {
    display :flex;
    
   }

   .navbar-links {
    display : none;
    width: 100%;
   }

   .navbar {
    flex-direction: column;
    
    align-items: flex-start;
    
   }
   .navbar-links ul {
    width : 100%;
    flex-direction: column;
    background-color: #1a1919;
    z-index: 99;
   }
   .navbar-links li {
    text-align: center;
    
   }

   .navbar-links.active {
    display: flex;
   
   }

   .logoimg {
    padding-left: 5px;
    width: 70%;
    height: 70%;
   }
   .logopart .logoname {
    font-size: 30px;

   }
   .logopart {
    margin-left: 5px;
   }

   .first-quote {
    font-size: 20px;
    padding-top: 2px;
    padding-left: 10px;
   }

   .quote {
    font-size: 20px;
    padding-top: 1px;
   }
   
   

   .blah {
    width:200px;
    height:200px;
    
   }
   .bottom {
    flex-direction: column;
    /* flex-shrink: 1; */
    align-items: center;
   }
   
}

  














@keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
